<app-header title="Dades mèdiques" backButton="true"></app-header>

<ion-content>
  <form #formulariPerfil="ngForm" (ngSubmit)="enviar()" novalidate>
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" name="nom" [(ngModel)]="perfil.nom" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cognoms</ion-label>
      <ion-input type="text" name="cognoms" [(ngModel)]="perfil.cognoms" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data neixement</ion-label>
      <ion-input type="date" name="data_n" [(ngModel)]="perfil.data_n" required></ion-input>
    </ion-item>
    <ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Gènere</ion-label>
      <ion-select value="D" name="genere" [(ngModel)]="perfil.genere" required>
        <ion-select-option value="H">Home</ion-select-option>
        <ion-select-option value="D">Dona</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Grup sanguini</ion-label>
      <ion-select value=null name="g_sanguini" [(ngModel)]="perfil.g_sanguini" required>
        <ion-select-option value="A+">A+</ion-select-option>
        <ion-select-option value="A-">A-</ion-select-option>

        <ion-select-option value="B+">B+</ion-select-option>
        <ion-select-option value="B-">B-</ion-select-option>

        <ion-select-option value="AB+">AB+</ion-select-option>
        <ion-select-option value="AB-">AB-</ion-select-option>

        <ion-select-option value="O+">O+</ion-select-option>
        <ion-select-option value="O-">O-</ion-select-option>

        <ion-select-option value="null">?</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Donant de òrgans</ion-label>
      <ion-select value=null name="d_organs" [(ngModel)]="perfil.d_organs" required>
        <ion-select-option value='0'>No</ion-select-option>
        <ion-select-option value='1'>Si</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  

  </ion-item>
    <ion-item>
      <ion-label>Alçada (cms)</ion-label>
      <ion-input type="number" name="alcada" [(ngModel)]="perfil.alcada"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pes (kgs)</ion-label>
      <ion-input type="number" name="pes" [(ngModel)]="perfil.pes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="nomAllergia.nom" [ngModelOptions]="{standalone: true}" placeholder="Al·lèrgia..."> </ion-input>
      <ion-input type="text" [(ngModel)]="nomAllergia.descripcio" [ngModelOptions]="{standalone: true}" placeholder="Descripció..."> </ion-input>   
      <div class="item-note"  item-end>
        <ion-button ion-button (click) = "afegirAllergia()"> <ion-icon name="add-outline"></ion-icon> </ion-button> 
      </div>
    </ion-item>
   
    <ion-list>
      <ion-item *ngFor="let todo of allergies; let i = index">
        {{todo.nom}} - {{todo.descripcio}}
        <div class="item-note" slot="end">
          <ion-button ion-button clear (click)="updateTask(i)"> <ion-icon name="pencil-outline"></ion-icon> </ion-button>
          <ion-button ion-button clear (click)="deleteTask(i)"> <ion-icon name="trash"></ion-icon> </ion-button>
        </div>
      </ion-item>
    </ion-list>
 
    <ion-button ion-button expand="full" color="primary" type="submit" block>Guardar perfil</ion-button>  
  </form>

</ion-content>
 