<app-header title="Mostrar events" backButton = "true"></app-header>
<ion-content>
  <ion-card *ngFor = "let period of eventsToShow">
    <ion-card-header>
      <ion-card-title>
        <ion-label color="primary">{{period[0].DataVisita | date: 'MMM yyyy'}}</ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card *ngFor = "let event of period">
        <ion-card-header>
          <ion-card-title>
            <ion-label color="primary">{{event.DataVisita | date: 'dd EEEE, HH:mm'}}</ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <ion-text color="black">Ubicació: {{event.Ubicacio}}</ion-text>
        <br>
        <ion-text color="black">Descripció: {{event.Descripcio}}</ion-text>
        <div class="ion-text-end">
          <ion-button size="small" color="background" (click)="updateEvent(event.Id)">
            <ion-icon color="primary" name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" color="danger" (click)="eliminarEvent(event.Id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        </ion-card-content>

      </ion-card>
    </ion-card-content>

  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large" color="primary" routerLink="/add-event">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
