<app-header title="Mostrar events" backButton = "true"></app-header>
<ion-content>
  
  <ion-card padding text-center color="primary" routerLink="/add-event">
    <ion-card-header>
      <ion-icon size="large" name="today-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Crear Event</ion-label>
    </ion-card-content>
  </ion-card>

  <form #formulariShowEvent="ngForm" (ngSubmit)="listEvents()">
    <ion-button expand="full" type="submit" [disabled]="formulariShowEvent.invalid">
    Mostrar events    
    </ion-button>
  </form> 
</ion-content>
