<app-header title="Mostrar events" backButton = "true"></app-header>
<ion-content>
  
  <ion-card padding text-center color="primary" routerLink="/add-event">
    <ion-card-header>
      <ion-icon size="large" name="today-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Crear Event</ion-label>
    </ion-card-content>
  </ion-card>

  <form #formulariShowEvent="ngForm" (ngSubmit)="listEvents()">
    <ion-button expand="full" type="submit" [disabled]="formulariShowEvent.invalid">
    Mostrar events    
    </ion-button>
  </form> 

  <ion-list>
    <button ion-item *ngFor = "let event of array">
      <ion-item>
        <ion-label position="floating">Data: {{ event.data }}</ion-label>
        
        <ion-label position="floating">Ubicacio: {{ event.ubicacio }}</ion-label>
        
        <ion-label position="floating">Descripcio: {{ event.descripcio }}</ion-label>
        <ion-label position="floating">Tractament: {{ event.tractament }}</ion-label>
        
        
      </ion-item>
      <ion-button expand="full" type="submit" (click)="eliminarEvent(event.eventId)"> Eliminar cita</ion-button>
    </button>
  </ion-list>

</ion-content>
