<app-header title="SeguiSalut" backButton="false"></app-header>

<ion-content>
<ion-grid id="gridMenu">
  <ion-row>
    <ion-col>
      <ion-card padding text-center color="primary" routerLink="/emergencies"> 
        <ion-card-header >
          <ion-icon size="large" name="earth"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Geolocalització</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
    <ion-card padding text-center color="primary" routerLink="/visites">
      <ion-card-header>
        <ion-icon size="large" name="today-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Visites</ion-label>
      </ion-card-content>
    </ion-card>

    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col>
    <ion-card padding text-center color="primary" routerLink="/perfil">
      <ion-card-header>
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Perfil</ion-label>
      </ion-card-content>
    </ion-card>
    </ion-col>


    <ion-col>
    <ion-card padding text-center color="primary" routerLink="/emergencies">
      <ion-card-header>
        <ion-icon size="large" name="alert-circle-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Emergències</ion-label>
      </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card padding text-center color="primary" routerLink="/recepta">
        <ion-card-header>
          <ion-icon size="large" name="medkit-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Recepta</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card padding text-center color="primary" (click)="logOut()">
      <ion-card-header>
        <ion-icon size="large" name="exit-outline"></ion-icon>
        
      </ion-card-header>
      <ion-card-content>
        <ion-label>LogOut</ion-label>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card padding text-center color="primary" routerLink="/informacio">
        <ion-card-header>
          <ion-icon size="large" name="information-circle-outline"></ion-icon>      
        </ion-card-header>
        <ion-card-content>
          <ion-label>Informació</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
    <ion-card padding text-center color="primary" routerLink="/informacio">
      <ion-card-header>
        <ion-icon size="large" name="people-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Contactes</ion-label>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
        <ion-col>
          <ion-card padding text-center color="primary" routerLink="/informacio">
            <ion-card-header>
              <ion-icon size="large" name="bandage-outline"></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Tractaments</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
