<app-header title="Inici de sessió" backButton = "false"></app-header>
<ion-content>
<form #formulariLogin="ngForm" (ngSubmit)="doLogin()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Correu</ion-label>
      <ion-input type="email" required
                  name="email"
                  [(ngModel)]="usuari.correu"
                  pattern="^([a-zA-Z0-9._%+-])+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,5})$"
                  (ionChange)="changeInputs()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Paraula clau</ion-label>
      <ion-input type="password" required
                  name="password"
                  [(ngModel)]="usuari.contrassenya"
                  (ionChange)="changeInputs()">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" type="submit" [disabled]="formulariLogin.invalid">
    Entrar
  </ion-button>
</form>

<div *ngIf="showMsgInvalidLogin">
  <ion-text color="danger">
    <h6>Usuari i/o contrassenya incorrectes</h6>
  </ion-text>
</div>
<div>
  No tens compte?
  <a routerLink="/sing-up">Registrar-se</a>
</div>
</ion-content>
