<ion-header>
  <ion-toolbar>
    <ion-title>Tractament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulariPerfil="ngForm" (ngSubmit)="enviar()" validate>
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" name="nom" [(ngModel)]="tractament.nom" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data inici</ion-label>
      <ion-input type="date" name="data_i" [(ngModel)]="tractament.data_i" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data fi</ion-label>
      <ion-input type="date" name="data_f" [(ngModel)]="tractament.data_f" required></ion-input>
    </ion-item>

    <ion-row align-items-center>
      <ion-item>
        
        <ion-label>Medicament</ion-label>
        <ion-select name="medicament" [(ngModel)]="auxMedicament.idM" [ngModelOptions]="{standalone: true}" interface="popover">
          <ion-select-option *ngFor="let id of medicaments_keys;" value={{id}}>{{medicaments_query[id]}}</ion-select-option>
        </ion-select>
        
        <ion-label>Periodicitat</ion-label>
        <ion-input type="number" name="periode" [(ngModel)]="auxMedicament.periode" [ngModelOptions]="{standalone: true}" required></ion-input> al dia.
        <div class="item-note"  item-end>
          <ion-button ion-button (click) = "afegirMedicament()"> <ion-icon name="add-outline"></ion-icon> </ion-button> 
        </div>
      </ion-item>
    </ion-row>

    <ion-list>
      <ion-item *ngFor="let m of tractament.medicaments; let i = index">
        {{medicaments_query[m.idM]}} - {{m.periode}} al dia.
        <div class="item-note" slot="end">
          <ion-button ion-button clear (click)="deleteM(i)"> <ion-icon name="trash"></ion-icon> </ion-button>
        </div>
      </ion-item>
    </ion-list>

    <ion-button ion-button expand="full" color="primary" type="submit" block>Guardar</ion-button>
  </form>
</ion-content>
